html{ background-color: #FF72AE }

body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.site{
  margin: 7%;
}

.content{
  width: 53vw;
  position: absolute;
  margin-left: 26.5vw;
  margin-top: 7.6vw;
}

.teamcontent{
  background-color: #00C480;
  width: 53vw;
  height: 29.9vw;
  position: absolute;
  margin-left: 26.5vw;
  margin-top: 7.56vw;
}

.teamMembers{
  margin-top: 10%;
  margin-left: 25%;
  overflow: scroll;
}

figure{
  position: relative;
  float: center;
  width: 10vw;
  font-family: Avenir Light;
  color: white;
  text-align: center;
  font-style: italic;
  font-size: smaller;
}

.contactcontent{
  background-color: #FFB540;
  width: 53vw;
  height: 29.9vw;
  position: absolute;
  margin-left: 26.5vw;
  margin-top: 7.56vw;
  overflow: scroll;
}

.aboutcontent{
  background-color: #005CCB;
  width: 53vw;
  height: 44.5vw;
  position: absolute;
  margin-left: 26.5vw;
  margin-top: 0.3vw;
  overflow: scroll;
}


.abouttext{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 4vw;
  margin-right: 4vw;
}

iframe{
  aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
}

a{
  text-decoration: none;
}

a.index:hover{ stroke-width: 2px;  stroke-color: #C10052; }
a.contact:hover{ stroke-width: 2px;  stroke-color: #D88400; }
a.team:hover{ stroke-width: 2px;  stroke-color: #006441; }
a.about:hover{ stroke-width: 2px;  stroke-color: #000F4D; }

h1 {
  font-size: 5vw;
  font-family: Avenir Medium;
  font-style: italic;
  color: white;

  position: relative;
  left: 44%;
}

h2 {
  font-size: 3.5vw;
  font-family: Avenir Heavy;
  font-style: italic;
  color: white;
  position: relative;
  text-align: center;
  transform: rotate(270deg);
}

p {
  font-size: 2vw;
  font-family: Avenir Light;
  color: white;
  position: relative;
  text-align: left;
  padding: 6vw 0;
}

img{
  width: 15vw;
  height: auto;
}

div.contactCircle{
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  background-color: #FFB540;

  position: relative;
  display: flex;
  align-items: center;
}

div.teamCircle{
  width: 30vw;
  height: 30vw;
  background-color: #00C480;
  border-radius: 50%;

  position: relative;
  display: flex;
  align-items: center;
}

div.aboutCircle{
  width: 45vw;
  height: 45vw;
  background-color: #005CCB;
  border-radius: 50%;


  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
}



/* https://codepen.io/ZachSaucier/pen/jOwNvO */

form { max-width: 85%; margin:3vw auto;}

.feedback-input {
  color: black;
  font-family: Avenir Light;
  font-weight:500;
  font-size: 2vw;
  line-height: 2.5vw;
  background-color: white;
  border:1px solid white;
  transition: all 0.3s;
  padding: 1vw;
  margin-bottom: 1.5vw;
  width:100%;
  box-sizing: border-box;
}

textarea {
  height: 10vw;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: Avenir Medium;
  width: 100%;
  background: white;
  border:0;
  cursor:pointer;
  color:#FFB540;
  font-size:2vw;
  padding-top:1vw;
  padding-bottom:1vw;
  transition: all 0.3s;
  margin-top:-0.2vw;
  font-weight:700;
}
[type="submit"]:hover { color: white; background:#D88400; }

/* ----------------------------------------------------------------- */

/* The grid: Four equal columns that floats next to each other */
.row{
  float: left;
  margin: 3vw;
}

.column {
  float: center;
  width: 2vw;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: zoom-in;
  height: 8vw;
  object-fit: cover;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  width: 25vw;
  height: 35vw;
  overflow: hidden;
  display: flex;
  margin-top: 2vw;
  margin-left: 20vw;
}
